@use "../../styles/mixins" as mxn;

.user {
  padding-top: var(--padding-l);

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  section {
    @include mxn.flex("column", "nowrap");
    gap: 2rem;
  }

  &__content-wrapper {
    @include mxn.container($padding: 0);
  }

  .content {
    width: 100%;
    padding: var(--padding-xs);

    &__header {
      @include mxn.flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--padding-xs);
      background-color: var(--dark-brown);
      border-radius: var(--radius-s) var(--radius-s) 0 0;
      color: var(--white);
      text-transform: uppercase;

      &>div {
        display: flex;
        gap: .5rem;
      }
    }


    &__password {
      display: flex;
      align-items: center;

      &::after {
        content: '••••••••••';
        color: var(--dark-brown);
        font-size: var(--font-size-m);
      }
    }
  }

  .img {
    max-width: 150px;
    margin: 0 auto;
  }

  &__avatar,
  &__username,
  &__email,
  &__password,
  &__testimonies {
    @include mxn.container("400px", 0);
    border-radius: var(--radius-s);
    background-color: var(--white);
    box-shadow: var(--box-shadow-2-2-5);
  }

  & div:has(.manage-icons) {
    gap: 1.5rem;
  }

  .btn-wrapper {
    @include mxn.btnSimple;
    margin-top: 2rem;
    text-align: center;

    .btn {
      background-color: var(--dark-red);
      box-shadow: var(--shadow-border-m) var(--dark-red);
    }
  }
}