@use "../../styles/mixins" as mxn;

.social-media-list {
  @include mxn.flex;
  gap: 1.5rem;
  transition: all .7s ease;

  &:has(li:hover) li:not(:hover) {
    opacity: .65;
  }

  &>li {
    @include mxn.grow;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.1);
    }

    img {
      object-fit: contain;
    }
  }
}