@use "../../styles/mixins" as mxn;

.title-wrapper {
  @include mxn.title;
  margin-bottom: 2rem;

  h1 {
    font-size: var(--font-size-xxl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }
}

// section:nth-child(even) {
//   background-color: var(--secondary-50);
// }

section {
  padding: var(--padding-xl) var(--padding-s);

  &:last-of-type {
    padding-bottom: var(--padding-l);
  }
}

.animals__wrapper:has(.animal:hover) .animal:not(:hover) img {
  filter: blur(.2rem);
  // opacity: 0.50;
}