@use "../../styles/mixins" as mxn;

.title-wrapper {
  @include mxn.title;

  h1 {
    font-size: var(--font-size-xxl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }
}

section {
  // padding: var(--padding-m) var(--padding-s);

  &:last-of-type {
    padding-bottom: var(--padding-xl);
  }
}

.loading {
  @include mxn.flex("column", "nowrap");
  align-items: center;
  gap: .5rem;

  &__text {
    text-align: center;
  }

  &__paws {
    @include mxn.loadingPaws;
  }

  &__spin {
    @include mxn.loadingSpin;
  }
}