@use "../../styles/mixins" as mxn;

.title-wrapper {
  @include mxn.title;
  margin-bottom: 2rem;

  h1 {
    font-size: var(--font-size-xxl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  // background: url(../../assets/Paw-bg.svg) no-repeat left/cover fixed;
  background-size: 1000px 1000px;

  @media screen and (min-width: 767px) {
    // background: url(../../assets/Paw-bg.svg) no-repeat 60% 150px/contain fixed;
  }
}

.user,
.articles,
.animals,
.location,
.schedules,
.contact,
.socialmedia {
  @include mxn.container;
  padding-bottom: var(--padding-m);
}

section:nth-child(even) {
  background-color: var(--secondary-50);
}

section:last-of-type {
  padding-bottom: var(--padding-l);
}

.animals__wrapper:has(.animal:hover) .animal:not(:hover) img {
  filter: blur(.2rem);
  // opacity: 0.50;
}