@use "../../styles/mixins" as mxn;

.animals {
  &__wrapper {
    @include mxn.flex;
    @include mxn.container($padding: 0);
    justify-content: center;
    gap: 2rem;

    &:has(.animal:hover) .animal:not(:hover) img {
      filter: grayscale(100%) brightness(70%);
    }
  }

  p {
    text-align: center;
    width: 100%;
  }
}