@use "../../styles/mixins" as mxn;

.header {
  &__nav {
    position: absolute;
    z-index: -1;
    top: -400%;
    right: 0;
    width: 100%;
    background-color: var(--secondary-50);
    padding: var(--padding-s);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    transition: all .5s ease;

    @media screen and (min-width: 767px) {
      position: static;
      z-index: 2;
      background-color: var(--secondary);
      box-shadow: none;
      padding: 0 var(--padding-s);
    }

    &.nav-open {
      top: 100%;
    }
  }

  &__links {
    @include mxn.flex("column", "nowrap");
    gap: 2rem;
    font-size: var(--font-size-n);
    font-weight: var(--fw-bold);
    text-align: center;

    @media screen and (min-width: 767px) {
      @include mxn.flex("row", "nowrap");
    }

    a {
      text-decoration: none;
      color: var(--primary);

      &:after {
        content: "";
        display: block;
        margin-top: .2rem;
        width: 0;
        height: .2rem;
        background: var(--primary);
        transition: width 0.3s ease;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}