@use "../../styles/mixins" as mxn;

.location {
  &__content {
    @include mxn.flex("column", "nowrap");
    gap: var(--padding-m);

    @media screen and (min-width: 767px) {
      flex-direction: row;
    }
  }

  &__map {
    @include mxn.grow;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  iframe {
    width: 100%;
    height: 300px;
    box-shadow: var((--box-shadow-2-2-5));
  }

  span {
    font-weight: var(--fw-black);
  }
}