@use "../../styles/mixins" as mxn;

.articles {
  &__wrapper {
    @include mxn.container;
  }

  &-overview {
    @include mxn.flex("column", "nowrap");
    gap: 2rem;
    // padding: var(--padding-m) 0 var(--padding-xl);

    .btn-wrapper {
      @include mxn.btnStylish;
      margin: 0 auto;
      padding-bottom: var(--padding-xs);
    }
  }
}