@use "../../styles/mixins" as mxn;

.articles {
  &-overview {
    @include mxn.flex("column", "nowrap");
    gap: 2rem;
    background-color: var(--secondary-50);

    .btn-wrapper {
      @include mxn.btnStylish;
      margin: 0 auto;
      padding-bottom: var(--padding-xs);
    }
  }
}