@use "../../styles/mixins" as mxn;

.admin {
  &__all-animals {
    &__wrapper {

      @media screen and (min-width:595px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width:900px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__animal {
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      padding: var(--padding-xs);
      background-color: var(--dark-brown);
      border-radius: var(--radius-s) var(--radius-s) 0 0;
      color: var(--white);

      span {
        display: flex;
      }
    }

    &__details {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid var(--light-grey);

      &>* {
        padding-left: 2rem;

        &:nth-child(2) {
          border-left: 1px solid var(--light-grey);
        }
      }

      &>* {
        @include mxn.flex("column", "nowrap");
        min-width: 120px;
      }
    }
  }
}