@use "../../styles/mixins" as mxn;

.testimonies {
  &-overview {
    // padding-top: var(--padding-l);

    .breadcrumbs {
      padding: 0;

      &__links {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        a {
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 50%;
          background-color: var(--dark-brown);
        }

        .active {
          background-color: var(--accent);
        }
      }
    }
  }

  &__wrapper {
    @include mxn.container;
    @include mxn.flex("column", "nowrap");
    gap: 1rem;

    h3 {
      text-align: center;
    }
  }

  &__slider {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 767px) {
      max-width: 600px;
    }

    &::before,
    &::after {
      content: '';
      height: 25px;
      width: 25px;
      z-index: 1;
      background: none;
      pointer-events: none;
      font-size: 2.5rem;
      font-weight: 500;
      color: var(--white);
      text-align: center;
      border: solid var(--dark-brown);
      border-width: 0px 4px 4px 0;
    }

    &::before {
      left: 0;
      transform: translate(calc(100% / 3), calc(-50% - .6rem)) rotate(135deg);
    }

    &::after {
      right: 0;
      transform: translate(calc(-100% / 3), calc(-50% - .6rem)) rotate(-45deg);
    }
  }

  &__slider::before,
  &__slider::after,
  &__link {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slides {
    position: relative;
    display: flex;
    padding: 2rem 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  &__slide {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  &__link {
    height: 40px;
    width: 40px;
  }

  &--previous {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &--previous,
  &--next {
    transform: translateY(-50%);
  }
}