@use "../../styles/mixins" as mxn;

.socialmedia {
  text-align: center;

  .informations__article__title {
    background-color: var(--dark-brown);
  }

  .icon {
    height: 4.5rem;
    width: 4.5rem;
  }
}