@use "../../styles/mixins" as mxn;

.socialmedia {
  &__details {
    text-align: center;
  }

  .social-media-list {
    padding: 0 var(--padding-m);
    justify-content: center;
    max-width: 380px;
    margin: 0 auto;
  }

  .icon {
    height: 4.5rem;
    width: 4.5rem;
  }
}