@use "../../styles/mixins" as mxn;

.admin {
  @include mxn.flex("column", "nowrap");
  padding-top: var(--padding-l);

  &__all-articles {
    @include mxn.container($padding: var(--padding-s));
    @include mxn.flex("column", "nowrap");
    gap: 2rem;

    &__wrapper {
      @include mxn.flex;
      justify-content: space-around;
      gap: 3rem;

      @media screen and (min-width:650px) {
        @include mxn.grow
      }
    }
  }

  &__article {
    display: grid;
    width: 100%;
    background-color: var(--white);
    border-radius: var(--radius-s);
    box-shadow: var(--box-shadow-2-2-5);

    @media screen and (min-width:620px) {
      flex: 1 0;
      min-width: 230px;

      &:last-child {
        max-width: 50%;
      }
    }

    @media screen and (min-width:930px) {
      flex: 1 0;
      min-width: 300px;

      &:last-child {
        max-width: 45%;
      }
    }

    @media screen and (min-width:1000px) {

      &:last-child {
        max-width: calc(33% - var(--padding-s));
      }
    }

    &__content {
      display: grid;
      text-align: center;

      h3 {
        padding: var(--padding-xxs);
      }
    }

    &__date {
      grid-area: 1/1;

      p {
        padding: var(--padding-xs);
        background-color: var(--dark-brown);
        color: var(--white);
        border-radius: var(--radius-s) var(--radius-s) 0 0;
      }
    }

    .icons-wrapper {
      @include mxn.flex;
      justify-content: center;
      align-self: end;
      gap: 5rem;
      margin: 2rem 0;
    }
  }

  .btn-wrapper {
    @include mxn.btnStylish;
    margin: 2rem auto;

    .btn {
      font-size: var(--font-size-n);
    }
  }

  &__new-article {
    background-color: var(--secondary-50);

    input[type="file"] {
      &::file-selector-button {
        border: 0;
        padding: var(--padding-xxs) var(--padding-xs);
        background-color: var(--primary);
        box-shadow: var(--shadow-border-m) var(--primary);
        color: var(--white);
        border-radius: var(--radius-xs);
        transition: all .5s ease;
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          opacity: .75;
        }
      }
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 200px;
    }
  }
}