@use "../../styles/mixins" as mxn;

.article-page {

  article {
    background-color: var(--white);
    box-shadow: var(--box-shadow-2-2-5);

    @media screen and (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 200px) 100px 1fr 1fr;
      background-color: transparent;
      box-shadow: none;
    }

    @media screen and (min-width: 767px) {
      grid-template-rows: repeat(2, 300px) 175px 1fr 1fr;
    }

  }

  &__wrapper {
    @include mxn.container($padding: 0);
    @include mxn.flex("column", "nowrap");
    gap: 1rem;

  }

  &__img {
    @media screen and (min-width: 500px) {
      box-shadow: var(--box-shadow-2-2-5);
      grid-column: 1/4;
      grid-row: 1/4;
    }

    img {
      display: block;
    }
  }

  &__content {
    @include mxn.flex("column", "nowrap");
    padding: var(--padding-s);
    gap: 1.5rem;

    @media screen and (min-width: 500px) {
      background-color: var(--white);
      box-shadow: var(--box-shadow-2-2-5);
      padding: var(--padding-s) var(--padding-l) var(--padding-l) var(--padding-l);
      grid-column: 2/-1;
      grid-row: 3/-1;
    }
  }

  &__title {}

  &__date {
    font-style: italic
  }

  &__text {
    @include mxn.flex("column", "nowrap");
    gap: .5rem;
  }
}