@use "../../styles/mixins" as mxn;

.animal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 0.65fr;
  column-gap: 1.2rem;

  box-shadow: var(--box-shadow-2-2-5);
  border-radius: var(--radius-xs);
  padding: var(--padding-s) 0;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    & img:not(.animal__sex) {
      transform: scale(1.15);
    }
  }

  .reserved {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    z-index: 1;

    background-color: var(--accent);
    text-align: center;
    font-weight: var(--fw-semi-bold);
    font-size: var(--font-size-m);
  }

  &__follow-icon {
    grid-column: 4/-1;
    grid-row: 1/2;
    align-self: center;
    z-index: 1;

    &.icon {
      background-color: var(--white);

      img {
        transition: all .3s ease;
        filter: brightness(0) saturate(100%) invert(97%) sepia(1%) saturate(2453%) hue-rotate(190deg) brightness(112%) contrast(70%);
      }
    }
  }

  &__img {
    grid-column: 1/-1;
    grid-row: 1/-2;

    width: calc(100% - var(--padding-xs) * 2);
    margin: 0 auto;
    overflow: hidden;

    img {
      border-radius: var(--radius-xs);
      transition: all .5s;
    }
  }

  &__infos {
    @include mxn.flex();
    align-items: center;
    gap: 2rem;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;

    padding-top: var(--padding-s);
  }

  &__name {
    font-size: var(--font-size-xl);
  }

  &__sex {
    max-width: var(--font-size-xxl);
  }
}