@use "../../styles/mixins" as mxn;

.article {
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow-2-2-5);
  background-color: var(--white);
  overflow: hidden;

  cursor: pointer;
  transition: all .5s ease;

  &:hover img {
    transform: scale(1.15);
  }

  @media screen and (min-width: 480px) {
    @include mxn.grow;
    min-width: calc(220px - var(--padding-s));
    max-width: 50%;

  }

  @media screen and (min-width: 680px) {
    min-width: calc(305px - var(--padding-s));
  }

  @media screen and (min-width: 767px) {
    min-width: calc(350px - var(--padding-s));
  }

  &__img {
    overflow: hidden;

    img {
      height: 250px;

      @media screen and (min-width: 767px) {
        height: 300px;
      }

      border-radius: var(--radius-s) var(--radius-s) 0 0;
      display: block;
      transition: all .5s ease;
    }
  }

  &__content {
    padding: var(--padding-xs);

    &__title {
      font-size: var(--font-size-l);
    }

    &__date {
      font-size: var(--font-size-s);
    }

    &__text {
      padding-top: var(--padding-xs);
    }
  }
}