@use "../../styles/mixins" as mxn;

.signUp-wrapper {
  @include mxn.container;

  form {
    @include mxn.container("400px");
    @include mxn.flex("column", "nowrap");
    align-items: center;
    gap: 2.25rem;
  }

  .btn-wrapper {
    @include mxn.btnStylish;
  }

  .loading {
    @include mxn.loading;
  }

  .redirect {
    margin-top: 2rem;
    text-align: center;

    a {
      color: var(--dark-brown);
      transition: color .3s ease;

      &:hover {
        color: var(--accent);
      }
    }
  }
}