@use "../../styles/mixins" as mxn;

.footer {
  background-color: var(--dark-brown);
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.25);
  padding: var(--padding-s);
  color: white;

  &__img {
    display: flex;
    justify-content: center;

    &>a {
      display: block;

      img {
        object-fit: contain;
        min-width: 180px;
        max-width: 250px;
      }
    }
  }

  nav:has(.footer__links) {
    @include mxn.container($padding: var(--padding-m) 0);
  }

  &__links {
    @include mxn.flex("column", "nowrap");

    @media screen and (min-width: 767px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.9rem;
    }

    li {
      padding-top: var(--padding-xs);
    }

    & ul:nth-child(2) {
      @include mxn.flex;
      gap: 1rem;
      min-width: 180px;
      max-width: 250px;

      a {
        color: var(--accent);
      }

      &:has(li:hover) li:not(:hover) {
        opacity: .65;
        transform: scale(.80);
      }
    }
  }

  a {
    color: var(--white);
    transition: all .5s ease;

    &:hover {
      color: var(--accent);
    }
  }

  .copyright {
    display: block;
    text-decoration: none;
    text-align: center;
  }
}