@use "../../styles/mixins" as mxn;

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 400px;
  border-radius: var(--radius-l);
  border: 0;
  box-shadow: var(--shadow-border-s) var(--secondary125);
  margin: 0;

  &[open] {
    animation: open .5s ease;
  }

  form,
  .dialog-wrapper {
    @include mxn.flex("column", "nowrap");
    gap: 2.5rem;
    padding-bottom: var(--padding-xs);
    text-align: center;
  }

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 0.55);
    backdrop-filter: blur(.075rem);
  }

  .btns-wrapper {
    @include mxn.flex;
    gap: 3rem;
    justify-content: center;
  }

  .btn-wrapper {
    @include mxn.btnSimple;

    &:nth-child(2) .btn {
      background-color: var(--dark-red);
      box-shadow: var(--shadow-border-m) var(--dark-red);
    }
  }

  &:has(.admin__new-article),
  &:has(.admin__update-article) {
    background-color: var(--secondary-50);
    max-width: 700px;
  }
}

@keyframes open {
  from {
    top: 25%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}